h1 {
    text-align: center;

}

/* div {
    display:flex;
    justify-content:space-evenly;
} */
div {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: span;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    
}
button:hover {
    background-color: rgb(208, 240, 237);
    font-weight: bolder;
}